<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>monsoon</title>
  </head>
  <body>
    <h1>monsoon</h1>
    <h2>the brainstorming platform for your every idea</h2>
    <h3>just throw things out there & have fun with it!</h3>
    <textarea id="randomIdea" name="randomIdea" placeholder="enter in a random idea here"></textarea><br>
    <button id="stormItBtn">STORM IT</button>
    <section class="divboard">
      <ul>
        <li>
      <div></div>
        </li>
      </ul>
    </section>

    <script src="main.js"></script>
  </body>
</html>
