<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>monsoon</title>
  </head>
  <body>
    <h1>monsoon</h1>
    <h2>the brainstorming platform for your every idea</h2>

    <script src="main.js"></script>
  </body>
</html>
